/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body {
  margin: 0;
}

.main-container {
  margin: 20px;
}

.auth-card {
  max-width: 450px;
  position: fixed;
  margin: 5% auto;
  top: 0;
  left: 0;
}

.text-color-primary {
  color: #3f51b5;
}
